.admin-table-toolbar-btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

.mt-6 {
    margin-top: 4rem; 
}

/* body {
    padding-top: 4rem;
} */


.copy-popover {
    --bs-popover-bg: lightgreen;
  }